/* Aquí van tus estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #edb3d7;
    min-height: 100vh;
    padding: 20px 30px 30px 30px;

    @media all and (min-width: 768px) {
        display: grid;
        padding: 10px 20px 20px 20px;
        grid-template-rows: 80px 1fr;
    }
}

.header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media all and (min-width: 768px) {
        height: 100px;
        padding: 0 20px;
        padding-bottom: 10px;
    }

    &-title {
        color: rgb(0, 0, 0);
        font-size: 34px;
        font-family: 'Lobster', cursive;

        @media all and (min-width: 768px) {
            font-size: 30px;
        }
    }
}

.logo {
    width: 125px;
}

.logo-fop {
    
    transform: scale(1.5);
    width: 200px;
    height: 110px;
    display: flex;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 768px) {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
}

.preview {
    margin-top: 20px;

    @media all and (min-width: 768px) {
        margin-top: 0;
        width: 60%;
        padding: 0 20px;
    }

    &-image {
        object-fit: cover;
        width: 100%;
        min-height: 50%;
        max-height: 700px;

        @media all and (min-width: 768px) {
            max-width: 100%;

        }
    }
}

.card {
    background-color: white;
    color: #3e3e3e;
    width: 90%;
    transform: translateY(-75px);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    padding: 10px;
    min-height: 245px;
    max-height: 350px;
    box-shadow: #3e3e3e;

    @media all and (min-width: 768px) {
        transform: translateY(-100px);
        padding: 20px;
        gap: 20px;
        max-height: 340px;
        max-width: 550px;
    }

    &-line {
        width: 100%;
        border: 0;
        height: 1px;
        margin-bottom: 12px;

        background-image: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(1, 1, 1, 0.75),
                rgba(255, 255, 255, 0));
    }
}

.autor {
    &-info {
        width: 40%;
        text-align: center;
        margin-top: 10px;
    }

    &-image {
        object-fit: cover;
        border-radius: 5%;
        min-width: 120px;
        width: 70%;
        height: 70%;
        margin: auto;
        padding-bottom: 10px;

        @media all and (min-width: 768px) {
            width: 85%;
            height: 85%;
        }
    }

    &-job {
        color: #909090;
        font-size: 12px;

        @media all and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &-name {
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
        font-size: 14px;

        @media all and (min-width: 768px) {
            font-size: 18px;
        }
    }
}

.project {

    &-info {
        width: 60%;
    }

    &-subtitle {
        font-size: 12px;
        text-align: center;
        // margin-bottom: 10px;

        @media all and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &-title {

        font-size: 16px;
        color: black;
        margin-bottom: 10px;


        @media all and (min-width: 768px) {
            font-size: 20px;
        }
    }

    &-slogan {
        font-size: 14px;
        margin-bottom: 10px;

        @media all and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &-desc {
        font-size: 12px;
        margin-bottom: 10px;
    }

    &-technologies {
        background-color: lightgray;
        border-radius: 20px;
        font-size: 12px;
        padding: 10px;
        width: 70%;

        .text {
            font-size: 15px
        }
    }
}

.form {
    background-color: #304f88;
    padding: 25px 30px;
    margin-top: 10px;
    width: 100%;

    @media all and (min-width: 768px) {
        padding: 25px 30px;
        margin-top: 0;
        width: 40%;
        height: 100%;
    }

    &-title {
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        font-family: 'Lobster', cursive;
    }

    &-label {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-family: 'Bitter', serif;
    }
}

.project-fieldset,
.autor-fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    color: white;
    margin: 5px;
}

.legend {
    padding: 20px;
    text-align: center;
    color: white;

    &-text {
        padding-bottom: 10px;
        font-family: 'Bitter', serif;
    }

    &-line {
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.75),
                rgba(255, 255, 255, 0));
    }
}

.input,
.textarea {
    background-color: transparent;
    border-color: white;
    border-radius: 40px;
    height: 40px;
    color: #ffffff;
    padding-left: 15px;
    margin: 5px;
}

.input::placeholder,
.textarea::placeholder {
    color: #ffffff;
}

.textarea {
    border-radius: 25px;
    height: 110px;
    padding-top: 17px;
}

.error-message {
    color: #ffffff;
    padding-left: 15px;
}

.buttons-img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    
}

.btn,
.btn-large {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    width: 160px;
    margin: 5px;
    color: rgb(45, 87, 134);
    text-align: center;
    border: none;
    box-shadow: 5px 5px 5px 0.9px rgb(21, 23, 66);
    height: 43px;
    background: linear-gradient(90deg, #f2b9ec -1.57%, #eba6ec 98.43%);
    border-radius: 40px;
    border: solid 2px rgb(244, 203, 244);
    

    @media all and (min-width: 768px) {
        padding: 5px 10px 0 10px;
    }
}

.label {
    font-size: 15px;
    font-family: 'Bitter', serif;
    font-weight: bolder;
    
}

.btn-large {
    width: 200px;
    box-shadow: 2px 5px 5px 0.9px rgb(21, 23, 66);
    font-family: 'Bitter', serif;
    font-weight: bolder;
    font-size: 18px;
    
}

.message-create-card {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    height: 150px;
    justify-content: space-between;

    .url {
        color: #c0b7e8;
        word-wrap: break-word;
    }

    .info-create {
        padding: 20px;
        // font-family: 'Lobster', cursive;
        font-size: 20px;
    }
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
}

.landing {
    &-btn-create {
        color: white;
        font-size: 20px;
    }

    &-ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
            justify-items: center;
        }
    }

    &-card {
        background-color: white;
        color: #3e3e3e;
        width: 85%;
        margin: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 15px;
        padding: 10px;
        min-height: 245px;
        max-height: 300px;

        @media all and (min-width: 768px) {
            padding: 20px;
            gap: 20px;
            max-height: 340px;
            max-width: 550px;
        }

        &-line {
            width: 100%;
            border: 0;
            height: 1px;
            margin-bottom: 12px;

            background-image: linear-gradient(to right,
                    rgba(255, 255, 255, 0),
                    rgba(1, 1, 1, 0.75),
                    rgba(255, 255, 255, 0));
        }
    }
}
